//
$ph_orange: #f90;
//
body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    header, main, footer {
        display: grid;
        grid-template-columns: 1fr minmax(auto, calc(70rem + 300px + 0.4rem)) 1fr;

        > div:nth-child(1) {
            margin: 0;
        }
    }
    > * {
        grid-column: 2 / 3;
    }
    a {
        text-decoration: none;
        color: white;
        display: block;
    }
    #pew-network {
        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            font-size: 14px;

            a {
                display: block;
                padding: .25em;
    
                &:not([href]) {
                    font-weight: bold;
                }
                &.active {
                    color: #666;
                    cursor: default;
                }
                &:not(.active)[href]:hover {
                    background-color: #333;
                }
            }
        }
    }
    #pew-head {
        background-color: #1b1b1b;

        > div {
            > div {
                margin: .5em 1em;

                &:nth-child(2) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    a {
                        flex-grow: 1;
                        text-align: center;
                        text-transform: uppercase;
                        padding: .5em;
                        font-size: 14px;
                        border: 1px solid transparent;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid rgba(255, 255, 255, 0.1);
                        }
                        &.active {
                            border-bottom: 1px solid $ph_orange;
                        }
                    }
                }
                &:nth-child(3) {
                    text-align: center;

                    a {
                        font-size: 12px;
                        color: $ph_orange;
                        margin: 1em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    main {
        > div {
            margin: .5em;

            #video_feed {
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                justify-content: space-around;

                .video {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    margin: 1em;
                    max-width: 15em;
                    font-size: 14px;

                    > div {
                        &:nth-child(2) {
                            color: $ph_orange;
                            text-overflow: ellipsis;
                        }
                        &::nth-child(3) {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: #1b1b1b;
        text-align: center;
        padding: 2em;

        a {
            display: inline;
            color: #f90;
        }
    }
}
